<div class="row py-5  align-items-center text-center">
  <div class="col-12">
    <h3 class="text-muted my-5">
      Nothing here <i class="far fa-smile"></i>
    </h3>
    <a href="#" class="btn btn-outline-accent rounded-pill">SEE OUR SERVICE</a>
    <div class='line-container my-3 '>
      <div class='line-icon'>
        or
      </div>
    </div>
    <a href="#" class="btn btn-compliment rounded-pill">SEE OUR STYLES</a>

  </div>
</div>
