<footer class="mt-auto text-white-50">
  <p>&copy; Paris Beuaty and Hair Studio <%= new Date().getFullYear() %> | Built by <a href="https://www.facebook.com/ACED-Pixels-391182761362451" class="text-white">ACED Pixels</a>.</p>
</footer>



</body>

</html>
