<!--
Select style
select staff
Check for availabel times

display times

select Time & Date of apointment

confirm procing

add to cart or book now

 -->

<div class="container">

  <ul class="nav  justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="stage1-dummy-link" data-bs-toggle="tab"  role="tab" aria-controls="style" aria-selected="true">Step 1</a>
      <a class="nav-link d-none" id="stage1" data-bs-toggle="tab" href="#stage1-pane" role="tab" aria-controls="style" aria-selected="true">Step 1</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link disabled" id="stage2-dummy-link" data-bs-toggle="tab" role="tab" aria-controls="date" aria-selected="false">Step 2</a>
      <a class="nav-link d-none" id="stage2" data-bs-toggle="tab" href="#stage2-pane" role="tab" aria-controls="date" aria-selected="false">Step 2</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link disabled" id="stage3-dummy-link" data-bs-toggle="tab" role="tab" aria-controls="review" aria-selected="false">Step 3</a>
      <a class="nav-link d-none" id="stage3" data-bs-toggle="tab" href="#stage3-pane" role="tab" aria-controls="review" aria-selected="false">Step 3</a>
    </li>
  </ul>
  <div class="progress" style="height: 2px;">
    <div class="progress-bar bg-accent" role="progressbar" id="progress" style="width: 33.3%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="container loadingSign my-5 py-4 text-center" id="loadingSign">
    <i class="fas fa-spinner fa-5x fa-spin"></i>
  </div>

  <form class=" pt-3 pb-5" id="bookingForm" action="/book" method="post">
    <div class="tab-content " id="myTabContent ">

      <div class="tab-pane fade show active" id="stage1-pane" role="tabpanel" aria-labelledby="stage1">
        <p class="card-title mb-2 bordered">
          Select Base Style
        </p>
        <div class="row mb-3 justify-content-center">
          <div class="col">
            <select id="styleSelect" class="form-select ">
              <option selected>Select Base Style</option>
            </select>
          </div>
        </div>
        <div class="row mb-3 justify-content-center">
          <div class="col">
            <select id="selectOption" class="form-select" disabled>
              <option value="null" selected>Select Style Option</option>
            </select>
          </div>
        </div>
        <div class="" id="chooseStylistSection">
          <p class="card-title mt-4 bordered">
            Choose Stylist
          </p>
          <div class="row mb-2  justify-content-center" id="stylistContainer">
            <div class="col text-center"  >
              ...
            </div>
          </div>
        </div>


      </div>

      <input type="text" hidden name="stylist" id="stylist" value="">

      <div class="tab-pane fade " id="stage2-pane" role="tabpanel" aria-labelledby="stage2">
        <div class="row mb-3 justify-content-center">
          <p>Custome Date Picker Here:</p>
          <div class="col">
          </div>
        </div>

        <div class="row mb-3 justify-content-center">
          <div class="col">
            <label for="time" class="ps-1">Available Times</label>
            <select class="form-control" name="time">
              <option value="">12PM</option>
              <option value="">3PM</option>
              <option value="">5PM</option>
            </select>
          </div>
        </div>
      </div>

      <div class="tab-pane fade " id="stage3-pane" role="tabpanel" aria-labelledby="stage3">
        <div class="container px-5 " id="booking-summary">
          <div class="row accordion-border">
            <div class="col-4">
              Base Style
            </div>
            <div class="col-8 text-end">
              <strong>
                Knotless Braids
              </strong>
            </div>
          </div>
          <div class="row accordion-border">
            <div class="col-4">
              Option
            </div>
            <div class="col-8 text-end">
              <strong>
                Large Knotless Waist Length
              </strong>
            </div>
          </div>
          <div class="row accordion-border">
            <div class="col-4">
              Date
            </div>
            <div class="col-8 text-end">
              <strong> 01 April 2021</strong>
            </div>
          </div>
          <div class="row accordion-border">
            <div class="col-4 ">
              Time
            </div>
            <div class="col-8 text-end">
              <strong>12:00PM</strong>
            </div>
          </div>
          <div class="row ">
            <div class="col-4">
              Stylist
            </div>
            <div class="col-8 text-end">
              <strong>Stylist Name</strong>
            </div>
          </div>
        </div>
      </div>



      <div class="row g-3 mt-3">
        <!-- Button trigger modal -->
        <!-- <input type="submit" name="" value="Subit"> -->
        <div class="col-10 col-sm-8 col-md-8">
          <a type="" role="submit" onclick="showNextTab()" id="nextTabButton" class="btn btn-outline-accent rounded-pill d-block">
            Continue
          </a>
        </div>
        <div class="col-2 col-sm-2 col-md-2 mt-3">
          <a type="" onclick="showPreviousTab()" class="btn btn-outline-danger py-2 d-block" name="" id="previousTabButton" value="">
            <i class="fas fa-arrow-circle-left"></i>
          </a>
        </div>
        <div class="col-12 col-sm-2 col-md-2 mt-3">
          <a type="" role="submit" onclick="addToCart()" id="addToCart" class="btn btn-warning disabled py-2 d-block" name="" value=""> <span class="d-sm-none ">Add to Cart</span> <i class="fas fa-cart-plus"></i> </a>
        </div>
      </div>
    </div>
  </form>
</div>
