<!--
Select style
select staff
Check for availabel times

display times

select Time & Date of apointment

confirm procing

add to cart or book now

 -->

<div class="container ">
<!-- Modal -->
<div class="modal fade" id="review" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-accent">
      <div class="modal-header bg-accent text-white">
        <h5 class="modal-title d-block m-auto" id="staticBackdropLabel">Review Selections</h5>
        <a type="button" class="text-white" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-lg fa-times-circle"></i></a>
      </div>
      <div class="modal-body">
        <div class="container px-5 " id="booking-summary">
          <div class="row accordion-border">
            <div class="col-4">
              Base Style
            </div>
            <div class="col-8 text-end">
              <strong>
                Knotless Braids
              </strong>
            </div>
          </div>
          <div class="row accordion-border">
            <div class="col-4">
              Option
            </div>
            <div class="col-8 text-end">
              <strong>
                Large Knotless Waist Length
              </strong>
            </div>
          </div>
          <div class="row accordion-border">
            <div class="col-4">
              Date
            </div>
            <div class="col-8 text-end">
              <strong> 01 April 2021</strong>
            </div>
          </div>
          <div class="row accordion-border">
            <div class="col-4 ">
              Time
            </div>
            <div class="col-8 text-end">
              <strong>12:00PM</strong>
            </div>
          </div>
          <div class="row ">
            <div class="col-4">
              Stylist
            </div>
            <div class="col-8 text-end">
              <strong>Stylist Name</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <div class="col-12 col-sm-12 col-md-12 ">
          <a type="submit" class="btn btn-outline-accent rounded-pill py-2 col-8 " name="" value=""> CONFIRM </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
