<%- include ("partials/header-home.ejs")  %>




<div class="p-5 image-display-container shadow">
  <div class="container py-5">
    <div class="row  mt-5 jumbo-container">
      <div class="col-12">

        <h1 class="mt-5 jumbo text-compliment">
          Alpharetta's #1 <br class="d-none d-sm-block" /> Beauty Spot!
        </h1>
        <p>
          Braids, Locks, Extension, Treatment and lots more, <br> Just name it and we got you covered!
        </p>
        <a class="btn rounded-pill btn-outline-accent" href="#">
          BOOK A SERVICE
        </a>
      </div>
    </div>
  </div>
</div>


<section class="py-5" id="services">
  <div class="text-center mt-5 ">
    <div class='line-container'>
      <div class='line-icon'><img src="img/logo/paris-mark-alt.png" class="icon" alt=""></div>
    </div>
    <h4 class="mb-0 header  text-uppercase">
      Services
    </h4>
    <!-- <hr class="dotted-divider mt-1 mb-1" /> -->
    <div class='line-container'>
      <div class='line-icon'>
        How can we serve you today?
      </div>
    </div>
  </div>

  <!-- Service 1 -->
  <div class="container py-5 mt-5">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6">
        <img src="img/placeholder.png" class="img-fluid img-thumbnail img-services" alt="...">
      </div>
      <div class="col-md-12 col-lg-6 py-3 ps-4">
        <!-- <span class="pt-4 mt-3 d-none d-lg-block ">&nbsp; </span> -->
        <h5 class="sub-header bordered">
          <!-- <i class="text-accent fa-xs fas fa-grip-lines-vertical"></i> -->
          Blow Outs
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button type="button" name="button" class="btn rounded-pill  btn-outline-accent">BOOK NOW</button>
        <a href="#" class="ps-3">Learn More <i class="ms-1 fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>

  </div>

  <!-- Service 2 -->
  <div class=" mt-0 py-5">

    <div class="container py-5">
      <div class="row align-items-center">

        <div class="col-md-12 col-lg-6 order-xs-1 order-sm-1 order-md-1 order-lg-2">
          <img src="img/placeholder.png" class="img-fluid img-thumbnail img-services" alt="...">
        </div>
        <div class="col-md-12 col-lg-6 py-3 order-xs-2 order-sm-2  order-md-2 order-lg-1  ps-4">
          <!-- <span class="pt-4 mt-3 d-none d-lg-block ">&nbsp; </span> -->
          <h5 class="sub-header bordered">
            Washing and Setting
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <button type="button" name="button" class="btn rounded-pill  btn-outline-accent">BOOK NOW</button>
          <a href="#" class="ps-3">Learn More <i class="ms-1 fas fa-long-arrow-alt-right"></i></a>
        </div>

      </div>

    </div>

  </div>

  <!-- See all our services -->
  <div class=" mt-1 pb-5 ">
    <div class="container ">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-lg-6 text-center ">
          <a href="#" class="btn rounded-pill text-uppercase btn-outline-accent">
            See All Services
            <!-- <i class="fas ps-2 fa-long-arrow-alt-right"></i> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Styles Display -->
<section id="styles" class="bg-paris-mark py-5">
  <div class="text-center mt-5">
    <!-- <hr class="dotted-divider mt-4 mb-3" /> -->
    <div class='line-container'>
      <div class='line-icon'><img src="img/logo/paris-mark-alt.png" class="icon" alt=""></div>
    </div>
    <h1 class="mb-0 header header-border text-uppercase">
      Style Up!
    </h1>
    <div class='line-container'>
      <div class='line-icon'>
        Define your looks<span class="d-none d-sm-inline">, pick from a variety of our unique styles </span> to match your person.
      </div>
    </div>
  </div>
  <div class="container my-3 py-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="card h-100">
          <img src="img/bridal.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body">
            <h5 class="card-title bordered mb-2">Dreads</h5>
            <p class="card-text">Single line explanation of the style.</p>
            <a class="btn rounded-pill  btn-outline-accent" href="#">
              BOOK SERVICE
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <img src="img/makeup.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body">
            <h5 class="card-title bordered mb-2">Southern Drops</h5>
            <p class="card-text">Single line explanation of the style.</p>
            <a class="btn rounded-pill  btn-outline-accent" href="#">
              BOOK SERVICE
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <img src="img/dryer.jpg" class="card-img-top styles-card-image" alt="...">
          <div class="card-body">
            <h5 class="card-title bordered mb-2">The Royal Curl</h5>
            <p class="card-text">Single line explanation of the style.</p>
            <a class="btn rounded-pill  btn-outline-accent" href="#">
              BOOK SERVICE
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mb-4">
    <a href="#" class="btn rounded-pill text-uppercase btn-outline-accent">
      See All Styles
      <!-- <i class="fas ps-2 fa-long-arrow-alt-right"></i> -->
    </a>
  </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class=" py-5">
  <div class="text-center mt-5">
    <!-- <hr class="dotted-divider mt-4 mb-3" /> -->
    <div class='line-container'>
      <div class='line-icon'><img src="img/logo/paris-mark-alt.png" class="icon" alt=""></div>
    </div>
    <h1 class="mb-0 header header-border text-uppercase">
      Word On the Streets!
    </h1>
    <div class='line-container'>
      <div class='line-icon'>
        See what people are saying about us.
      </div>
    </div>

    <div class="container testimonial-pane mt-5 py-3">
      <div class="row justify-content-center">

        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>

        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>
        <!-- New Item -->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 py-4">
          <div class="img-circle-container bg-light shadow-sm m-auto">
            <img src="img/logo/paris-mark-alt.png" class="img-circle" alt="">
          </div>
          <div class='line-container mt-1 '>
            <div class='line-icon'>
              <i class="customer-name">
                <b>Clients Name</b>
              </i>
            </div>
          </div>
          <p class="mt-1">
            Simply an Awesome place to make your hair.
          </p>
          <!-- <br> -->
          <div class="row justify-content-center">
            <div class="col-2">
              <a href="#" class="text-facebook  fab  fa-facebook"></a>
            </div>
            <div class="col-2">
              <a href="#" class="text-instagram fab  fa-instagram"></a>
            </div>

            <div class="col-2">
              <a href="#" class="text-twitter fab  fa-twitter"></a>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>

<%- include ("partials/footer.ejs") %>
