<%- include ("partials/header-home.ejs")  %>


<div class="logo text-center m-2">

  <a class="" href="#">
    <img src="img/logo/paris-primary-gold.png" alt="PARIS HAIR & BEAUTY LOGO" class="logo" />
  </a>
</div>

<nav class="navbar navbar-lg sticky-top justify-content-center navbar-expand-lg navbar-light text-accent bg-light ">
  <ul class="nav">
    <!-- <li class="nav-item">
      <a class="nav-link active btn-outline-accent rounded-pill" aria-current="page" href="tel:7708801277"><i class="fas fa-phone-alt"></i> 770 880 1277</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link text-center" href="#">
        <i class="fas fa-cut"></i>
        Services
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-gift"></i>
        Shop
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        More
        <i class="fas fa-xs fa-chevron-down"></i>
      </a>

    </li>
    <li class="nav-item d-none d-sm-block ">
      <a class="nav-link"> | </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active btn-compliment rounded-pill" aria-current="page" href="">
        <i class="fas fa-calendar-check"></i> &nbsp; Book a Service</a>
    </li>

  </ul>
</nav>




<div class="p-5 image-display-container">
  <div class="container pt-5">
    <h1 class="mt-5 header text-compliment">
      Alpharetta's One Stop<br class="d-none d-sm-block" /> Beauty Spot!
    </h1>
    <p>
      Braids, Locks, Extension, Treatment - Just name it and we got you covered!
    </p>
    <a href="#" class=" btn-compliment">
      <i class="fas fa-calendar-check"></i> &nbsp; Book a Service
    </a>
  </div>
</div>


<%- include ("partials/footer.ejs") %>
