<%- include ("partials/header-home.ejs")  %>




<div class="p-5 image-display-container shadow">
  <div class="container pt-5">
    <h1 class="mt-5 header text-compliment">
      Alpharetta's #1 <br class="d-none d-sm-block" /> Beauty Spot!
    </h1>
    <p>
      Braids, Locks, Extension, Treatment and lots more, <br> Just name it and we got you covered!
    </p>
    <a class="btn rounded-pill  btn-compliment" href="#">
      <i class="fas fa-calendar-check"></i>
      &nbsp; Book a Service
    </a>
  </div>
</div>



<section id="featured" class="py-5">
  <hr class="dotted-divider" />
  <h1>
  </h1>
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="img/bridal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="img/makeup.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="img/dryer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<%- include ("partials/footer.ejs") %>
