<%- include ("partials/header-home.ejs")  %>




<div class="p-5 image-display-container shadow">
  <div class="container pt-5">
    <h1 class="mt-5 header text-compliment">
      Alpharetta's #1 <br class="d-none d-sm-block" /> Beauty Spot!
    </h1>
    <p>
      Braids, Locks, Extension, Treatment and lots more, <br> Just name it and we got you covered!
    </p>
    <a class="btn rounded-pill  btn-compliment" href="#">
       BOOK A SERVICE
    </a>
  </div>
</div>



<section id="featured" class="py-5">
  <hr class="dotted-divider mt-4 mb-5" />
  <div class="text-center">
    <h1 class="header">
    Style Up!
  </h1>
  <p>
    define your looks, pick from a variety of our unique <br />styles to match your outfit, or occasion.
    </p>
</div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="img/bridal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">Dreads</h6>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn rounded-pill  btn-compliment" href="#">
               BOOK SERVICE
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="img/makeup.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">Southern Drops</h6>

            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn rounded-pill  btn-compliment" href="#">
               BOOK SERVICE
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="img/dryer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-subtitle mb-2">The Royal Curl</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn rounded-pill  btn-compliment" href="#">
               BOOK SERVICE
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<%- include ("partials/footer.ejs") %>
