<%- include ("partials/header-home.ejs")  %>



<main>
  <section class="py-5 text-center products-home-image">
    <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-6 mt-n3 col-md-8 mx-auto">
        <h4 class="header ">Welcome !</h4>
        <p class="lead text-muted">Find all the right tools and products you'd need to give your hair what it truly deserves.</p>
      </div>
    </div>
  </div>
  </section>

  <div class="album mt-n20">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-sm-12 product-img-container">
          <img src="img/products/product-1.jpg" class="cover product-display-img" alt="">
        </div>
        <div class="col-md-6 col-sm-12 bg-light  text-center d-flex align-items-center">
          <div class="py-5 px-5">

          <h5 class="sub-header ">
            The worlds Coolest Dryer
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
          </p>
          <button type="button" name="button" class="btn rounded-pill  btn-outline-accent">BUY NOW</button>

        </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-6 col-sm-12 order-xs-1 order-sm-1 order-md-1 order-lg-2 product-img-container ">
          <img src="img/products/lotion-2.jpg" class="product-display-img" alt="">
        </div>
        <div class="col-md-6 col-sm-12 bg-light order-xs-2 order-sm-2  order-md-2 order-lg-1 text-center d-flex align-items-center">
          <div class="py-5 px-5">

          <h5 class="sub-header">
            Best Moisturizing Skin Lotion
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
          </p>
          <button type="button" name="button" class="btn rounded-pill  btn-outline-accent">BUY NOW</button>

        </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-6 col-sm-12 product-img-container">
          <img src="img/products/drops.jpg" class="product-display-img" alt="">
        </div>
        <div class="col-md-6 col-sm-12 bg-light  text-center d-flex align-items-center">
          <div class="py-5 px-5">

          <h5 class="sub-header ">
            Anti Cracking Potion
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque.
          </p>
          <button type="button" name="button" class="btn rounded-pill  btn-outline-accent">BUY NOW</button>

        </div>
        </div>
      </div>

    </div>
  </div>

  <%- include ("partials/footer.ejs") %>
