a{
  text-decoration: none;
}

body{
  color: #555;
}

.font-rozha {
  font-family: 'Rozha One', serif;

}

h1.font-rozha {
  font-weight: bolder;
}

.header{
  font-size: 3.5rem;
  font-weight: bold;
  font-family: 'Rozha One', serif;
}


.bg-accent {
  background-color: #cb2975;
}

.bg-compliment {
  background-color: #555555;
}

.bg-accent a {
  color: #555555;
}

.bg-accent a:hover {
  color: white;
}

.bg-accent-inner-shadow {
  box-shadow: 0.8px 0.8px 20px 2px #cb2975 inset;
}

.logo {
  height: 60px;
  width: auto;
}

.navbar-lg {
  height: 5em;
}

.text-accent, a {
  color: #cb2975;
}

.text-accent, a:hover {
  color: #555555;
  transition: 0.9s;
}

.text-compliment {
  color: #555555;
}

.btn-outline-accent {
  background: none;
  border: 1px solid #cb2975;
  padding: 0.6em 2.3em;
  transition: 0.7s;
}

a.btn-outline-accent:hover {
  background-color: #555555;
  /* border: 1px solid white; */
  box-shadow: 2px 2px 7px 0 #777;
  color: white;
  transition: 0.7s;
}

.btn-outline-compliment {
  background: none;
  border: 1px solid #555555;
  border-radius: 55px;
  color: #FFF;
  padding: 0.6em 2.3em;
  transition: 0.7s;
  vertical-align: middle;
}

a.btn-outline-compliment:hover {
  background-color: #cb2975;
  /* border: 1px solid white; */
  /* border: none; */
  box-shadow: 2px 2px 7px 0 #777;
  color: white;
  transition: 0.7s;
}

 .btn-compliment {
  background: #555555;
  color: white;
  transition: 0.7s;
  padding: 0.6em 2.3em;
  }

a.btn-compliment:hover {
  background-color: #cb2975;
  /* border: 1px solid #B89546; */
  /* border: none; */
  box-shadow: 2px 2px 7px 0 #777;
  color: white;
  transition: 0.7s;
}

.image-display-container {
  height: 37em;
  background-image: url("/img/cover page-1.jpg");
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(30deg, rgba(227,135,178,0.9), rgba(230,75,140,0.9)); */
}

.dotted-divider{
  /* border-width: 7px; */
  /* border-radius: 25%; */
    border-style: dotted;
    border-color: #d1bcad;
    /* border-top: 0; */
    width: 5%;
    margin: 3% auto;
}
